@import '~@angular/material/prebuilt-themes/indigo-pink.css';
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");

.shift{
    margin-top: 15px;
    margin-right: 8px;
    margin-left: 15px;
}

.bot-mar{
    margin-bottom: 3px;
}

.nav-color {
    background-image: url("../assets/img/Lush.jpg");
    height: 100%;
    background-size: cover;
}

.navbar {
    max-height: 12%;
    padding: 0;
    margin: 0;
}

/* .background {
    background-image: url('../assets/img/sky.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    height: 100vh;
    position: absolute;
    z-index: -2;
} */

