<div class="container-fluid" *ngIf="!isLoggedIn()">
  <h2 class="text-center">Please go <a routerLink="/login">login</a> to setup or edit your building</h2>
</div>
<div class="container-fluid" *ngIf="isLoggedIn()">
  <h1 class="text-center">Setup</h1>
  <form>
    <div class="container-fluid">
      <h3>Building name</h3>
      <div class="form-group">
        <input type="text" class="form-control" id="title" name="title" [(ngModel)]="building.name">
      </div>
    </div>
  </form>

  <form>
    <div class="container-fluid">
      <h3>Add a floor</h3>
      <div class="form-group">
        <label for="level">Floor level</label>
        <input type="text" class="form-control" id="level" name="level" [(ngModel)]="floorIn.floorLevel">
      </div>
      <div class="form-group">
        <label for="bins">How many trash bins are present on this floor?</label>
        <input type="text" class="form-control" id="bins" name="bins" [(ngModel)]="binCount">
      </div>
      <div class="form-group">
        <label for="food">Are there food sources on this floor?</label> <br>
        <input type="radio" name="food" [(ngModel)]="floorIn.food" value="true"> Yes <br>
        <input type="radio" name="food" [(ngModel)]="floorIn.food" value="false"> No <br>
      </div>
      <div class="form-group">
        <label for="rest">Are there restrooms on this floor?</label> <br>
        <input type="radio" name="rest" [(ngModel)]="floorIn.restRoom" value="true"> Yes <br>
        <input type="radio" name="rest" [(ngModel)]="floorIn.restRoom" value="false"> No <br>
      </div>
        <input type="submit" value="Submit" (click)="addFloor()">
    </div>
  </form>
</div>