<div class="container-fluid" *ngIf="!isLoggedIn()">
  <h2 class="text-center">Please go <a routerLink="/login">login</a> to setup or edit your building</h2>
</div>
<div class="container-fluid" *ngIf="isLoggedIn()">
  <h1 class="text-center">Setup</h1>
  <form>
    <div class="form-group">
      <label for="title">Building Name</label>
      <input type="text" class="form-control" id="title" name="title" [(ngModel)]="building.name">
    </div>
    <div class="form-group">
      <label for="floors"># of floors</label>
      <input type="text" class="form-control" id="floors" name="floors" [(ngModel)]="Floors">
    </div>
    <div class="form-group">
      <label for="base"># of basements</label>
      <input type="text" class="form-control" id="base" name="base" [(ngModel)]="Base">
    </div>
    <input type="submit" value="Submit" (click)="disp()">
  </form>
</div>