body {
    background-image: url('../../assets/img/office-bldg.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    z-index: -1;
    height: 100vh;
 }

.floor-box {
    background-color: lightgray;
    border: 5px solid green;
    border-radius: 10px;

}

.rr-box {
    background-color: dodgerblue;
}

.text-blue {
    margin: 0;
    padding-top: 45px;
    padding-bottom: 30px;
    color: darkblue;
}

.no-padding {
 padding: 0px;
}

.no-margin {
    margin: 0px;
}

.floorText {
    font-size: 24px;
    font-style: bold;
}

.trashMargin {
    margin: 0px 5px 10px 0px;
}

.rowMargin {
    margin: 0px 0px 80px 0px;
}

.warningColor {
    color: red;
}
