<h1 class="text-center">{{ officeName }}</h1>
<div class="container-fluid no-padding">
  <div class="row text-center no-margin" *ngFor="let floor of office" (click)="floorRoute(floor.id)">
      <div class="col-sm-2 container-fluid panel panel-default no-margin">
        <mat-icon *ngIf="floor.food">wc</mat-icon>
        <mat-icon *ngIf="floor.food">add</mat-icon>
        <mat-icon *ngIf="floor.restRoom">fastfood</mat-icon>
      </div>
      <div class="col-sm-8 container-fluid panel panel-primary no-margin">
        <div class="floorText">Floor {{ floor.floorLevel }}</div>
          <div class="container-fluid">
            <div class="panel panel-default trash pull-left" *ngFor="let trash of floor.bins">
              <span>  
                <div>{{ trash.id }}</div><div class='panel panel-default no-margin no-padding'></div><div>{{ trash.percentFull }}% </div>
              </span>
            </div>
          </div>
      </div>
      <div class="col-sm-2 floorHeight text-left no-margin" *ngIf="floor.floorStatus">
        <mat-icon class="warningColor">warning</mat-icon>
      </div>
  </div>
</div>
<button class="btn btn-default pull-right" (click)="emptyOffice()">Empty all</button>