.no-padding {
 padding: 0px;
}

.no-margin {
    margin: 0px;
}

.floorText {
    font-size: 24px;
    font-style: bold;
}

.trashMargin {
    margin: 0px 5px 10px 0px;
}

.rowMargin {
    margin: 0px 0px 10px 0px;
}

.warningColor {
    color: red;
}