<div class="container-fluid">
  <div class="row">
    <h1 class="text-center">Trashie</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="text-center">
        <button class="buttons-home" routerLink="/login">Log-in</button>
        <br>
        <button class="buttons-home" routerLink="/setup">Set up</button>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="truck-banner" src="../assets/img/garbage-truck.jpg" alt="truck">
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <button class="buttons-home" routerLink="/office">Offices</button>
        <br>
        <button class="buttons-home" routerLink="/bin-share">Bin-share</button>
      </div>
    </div>
  </div>
</div>