<div class="container-fluid header">
  <div class="row">
    <h1 class="text-center">Trashie</h1>
  </div>
</div>
<div class="container">
  <div class="row">
    <div class="col-sm-4">
      <div class="text-center">
        <button class="btn btn-success buttons-home" routerLink="/login"><font color="black"><h4>Home</h4></font></button>
        <br>
        <button class="btn btn-success buttons-home" routerLink="/setup"><font color="black"><h4>Setup</h4></font></button>
      </div>
    </div>
    <div class="col-sm-4">
      <img class="truck-banner" src="../assets/img/garbage-truck.jpg" alt="truck">
    </div>
    <div class="col-sm-4">
      <div class="text-center">
        <button class="btn btn-success buttons-home" routerLink="/office"><font color="black"><h4>Offices</h4></font></button>
        <br>
        <button class="btn btn-success buttons-home" routerLink="/bin-share"><font color="black"><h4>Bin-Share</h4></font></button>
      </div>
    </div>
  </div>
</div>